/*style font: font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif; */



/* reset */
* {
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* COMMON */

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;

    /* Debug */



}

.white {
    color: #f0f8ff;
}


/* debug */



/* Header */

header {
    background-color: #315be6;
    padding: 20px;

    /* debug */
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.login {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f0f8ff;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;


}

.nav-bar {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    flex-direction: row;

}

li {
    display: inline;
    list-style: none;
    padding-left: 5px;


}

/* main */

.first {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 300px;
    padding: 20px;
}

.container-small {
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.first-txt {
    padding: 2opx;
    text-align: center;
}


a {
    padding: 5px;
}

.scarica {
    background-color: #f0f8ff;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
}

.apri {
    background-color: #080c0f;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
}

/* seconda sezione  */

.second,
.four {
    padding: 20px;


}

.second-img {
    background-image: url(../img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.third-img {
    background-image: url(../img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fourth-img {
    background-image: url(../img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



.flex-container {
    display: flex;
    margin: 0 auto;

    width: 80%;


}

.flex-1 {
    flex: 1;

    padding: 10px;




}

.flex-2 {
    flex: 2;

    padding: 10px;

}


.third {
    padding: 20px;

}

.big-section {
    padding: 20px;
    text-align: center;

}

.dwld-botton {
    background-color: #195b96;
    border-radius: 10px;
    width: fit-content;
    margin: 20px auto;
}

.x2 {
    height: 600px;
}

.bg-green {
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.collum {
    padding: 20px;

}


.footer-content {
    background-color: #171f25;
    height: 60px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer {


    padding: 10px;
    margin: 0 auto;

}

.footer-copyright {
    padding: 5px;
    background-color: steelblue;
    border-radius: 20px;
}

.footer-logo {


    padding: 5px;

}

.flag-container {
    display: flex;
    align-items: center;


}

.img-flag {
    width: 20px;
    height: auto;
    margin-right: 10px;
}




.h2-color-blu {
    color: #315be6;
}

.color-white {
    color: #f0f8ff;

}

.bg-color-black {
    background-color: #171f25;
}

.flex-container-2 {
    display: flex;
    margin: 0 auto;

    width: 100%;


}